*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			transition: background-color 0.4s, color 0.4s,border 0.4s;
}
body{
	--body-clr: #fefefe;
	--menu-clr: #e5ebf7;
	--menu-hover-clr: #d8e0eb;
	--heading-clr: #32323c;
	--text-clr: #64646e;
	--line-clr: #cbcbcb;

	width: 100%;
	min-height: 100vh;
	font-family: Roboto, sans-serif;
	background-color: var(--body-clr);
	color: var(--text-clr);
}
body.active{
	--body-clr:#202431; 
	--menu-clr: #101218;
	--menu-hover-clr: #171a23;
	--heading-clr: #e2e2e2; 
	--text-clr: #b9b9b9;
	--line-clr: #313131;
}
.navbar-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 82px;
	/*width: 260px;*/
	height: 100vh;  
	background-color: var(--menu-clr);
	z-index: 1;
	transition: all 0.4s;
}
.navbar-container.active{
	width: 260px;
}
.navbar-container .navbar-header{
	position: relative;
	height: 64px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--line-clr);
}
.navbar-header .logo{
	display: flex;
	align-items: center;
	padding: 0px 10px;
}
.navbar-header .logo .logoImg{
	min-width: 60px;
	width: 60px;
	text-align: center;
	cursor: pointer;
} 
.navbar-header .logo .logoImg i{
	width: 40px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	border-radius: 6px;
	background-color: var(--menu-hover-clr);
	color: var(--heading-clr);
}
.navbar-header .logo .logoText{
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	white-space: nowrap;
	color: var(--heading-clr);
	opacity: 0;
	transition: opacity 0.1s linear;
	pointer-events: none;
}
.navbar-container.active .navbar-header .logo .logoText{
	opacity: 1;
	transition: opacity 0.4s linear;
	transition-delay: 0.1s;
	pointer-events: auto;
}
.navbar-header .logo .logoText span:nth-child(1){
	font-weight: 600;
	font-size: 22px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.navbar-header .logo .logoText span:nth-child(2){
	font-weight: thin;
	font-size: 14px;
	letter-spacing: 4px;
	margin-top: -4px;
}
.navbar-container ul.navbar-links{
	width: 100%;
	margin-top: 1rem;
	list-style: none;
	padding: 0px 10px;
}
.navbar-container ul.navbar-links li{
	position: relative;
	width: 100%;
	border-radius: 6px;
	transition: background 0.4s;
}
.navbar-container ul.navbar-links li:hover{
	background-color: var(--menu-hover-clr);
}
.navbar-container ul.navbar-links li a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: var(--text-clr);
	display: flex;
	align-items: center;
}
ul.navbar-links li a .nav-icon{
	display: block;
	position: relative;
	min-width: 60px;
	width: 60px;
	height: 100%;
	padding: 14px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Labels Starts */
ul.navbar-links li a .nav-icon::before{
	content: attr(data-label);
	position: absolute;
	top: calc(50% - 8px);
	transform: translateY(-50%);
	left: calc(100% + 20px);
	background-color: var(--menu-hover-clr);
	color: var(--text-clr);
	white-space: nowrap;
	padding: 10px;
	border-radius: 6px;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	/*z-index: -1;*/
	transition: top 0.4s ease, opacity 0.4s ease;
}
.navbar-container.active ul.navbar-links li a .nav-icon::before{
	display: none;
}
ul.navbar-links li a .nav-icon:hover::before{
	opacity: 1;
	visibility: visible;
	/*z-index: 1;*/
	top: 50%;
}
ul.navbar-links li a .nav-icon::after{
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	top: calc(50% - 8px);
	transform: translateY(-50%);
	right: -20px;
	border-top: 5px solid transparent;
	border-right: 6px solid var(--menu-hover-clr);
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	/*z-index: -1;*/			
	transition: top 0.4s ease, opacity 0.4s ease;
}
.navbar-container.active ul.navbar-links li a .nav-icon::after{
	display: none;
}
ul.navbar-links li a .nav-icon:hover::after{
	opacity: 1;
	visibility: visible;
	top: 50%;
}
/* Labels */

ul.navbar-links li a .nav-icon i{
	font-size: 20px;
	color: var(--heading-clr);
}
ul.navbar-links li a .nav-text{
	position: relative;
	font-size: 1rem;
	font-weight: 500;
	white-space: nowrap;
	letter-spacing: 1px;
	padding-left: 10px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s linear;
}
.navbar-container.active ul.navbar-links li a .nav-text{
	opacity: 1;
	transition: opacity 0.4s linear;
	transition-delay: 0.1s;
	pointer-events: auto;
}
.navbar-container .navbar-footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0px 10px;
	white-space: nowrap;
}
.navbar-footer .logoutBtn{
	height: 50px;
	display: flex;
	align-items: center;
	border-top: 1px solid var(--line-clr);
	border-bottom: 1px solid var(--line-clr);
}
.navbar-footer .logoutBtn i{
	min-width: 60px;
	width: 60px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	color: var(--heading-clr);
}
.navbar-footer .logoutBtn p{
	position: relative;
	padding-left: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--text-clr);
	opacity: 0;
	transition: opacity 0.1s linear;
	pointer-events: none;
}
.navbar-container.active .navbar-footer .logoutBtn p{
	opacity: 1;
	transition: opacity 0.4s linear;
	transition-delay: 0.1s;
	pointer-events: auto;
}
.navbar-footer .dark-light-mode{
	height: 50px;
	display: flex;
	align-items: center;
}
.dark-light-mode .btn-container{
	min-width: 60px;
	width: 60px;
	height: 40px;
	border-radius: 6px;
	padding: 0px 6px;
	display: flex;
	align-items: center; 
}
.dark-light-mode .btn-container .button{
	position: relative;
	width: 100%;
	height: 22px;
	border: 1px solid var(--line-clr);
	border-radius: 25px;
	padding: 2px;
	background-color: var(--menu-hover-clr);
	cursor: pointer;
}
.dark-light-mode .btn-container .button::before{
	content: '';
	position: absolute;
	background-color: #fefefe;
	background-color: var(--heading-clr);
	width: 14px;
	height: 14px;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	left: 3px;
	transition: all 0.2s;
}
.dark-light-mode .btn-container .button.active::before{
	left: calc(100% - calc(16px + 3px));
	background-color: #f9f9f9;
} 
.navbar-footer .dark-light-mode .text{
	position: relative;
	padding-left: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--text-clr);
	opacity: 0;
	transition: opacity 0.1s linear;
	pointer-events: none;
}
.navbar-container.active .navbar-footer .dark-light-mode .text{
	opacity: 1;
	transition: opacity 0.4s linear;
	transition-delay: 0.1s;
	pointer-events: auto;
}

.navbar-container ~ .pageContents{
	position: relative;
	width: calc(100% - 80px);
	left: 80px;
	padding: 10px 40px;
	transition: width 0.4s, left 0.4s;
}
.navbar-container.active ~ .pageContents{
	width: calc(100% - 260px);
	left: 260px;
	transition: width 0.4s, left 0.4s;
}

.table-checkbox {
	display: flex;
	flex-direction: column;
	align-items: center;
 }

.align-middle {
	vertical-align: middle !important;
}