{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2> Home ~ Integration ({{ integration.integration_name }}) </h2>

<div class="mb-2 bg-link-light">

    <table class="table table-striped table-light table-hover">
        <thead>
            <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Integration</th>
                <th class="align-middle">App</th>
                <th class="align-middle">Customer</th>
                <th class="align-middle">Source</th>
                <th class="align-middle">Type</th>
                <th class="align-middle">Date</th>
                <th class="align-middle">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr id="integration-{{ integration.pk }}">
                <td class="align-middle">{{ integration.pk }}</td>
                <td class="align-middle">{{ integration.integration_name }}</td>
                <td class="align-middle">{{ integration.app_name }}</td>
                <td class="align-middle">{{ integration.customer }}</td>
                <td class="align-middle">{{ integration.source }}</td>
                <td class="align-middle">{{ integration.type }}</td>
                <td class="align-middle">{{ integration.integration_date|date:"Y-m-d" }}</td>
                <td class="align-middle" style="width: 10%">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                        </svg>
                    </button>
                    <a href="{% url 'delete_integration' integration.pk %}" class="btn btn-danger btn-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    {% include 'forms/edit_integration.html' %}
    {% include 'forms/add_driver.html' %}
    {% include 'forms/edit_driver.html' %}

    <h2> Drivers </h2>
    <div class="mt-5 mb-3 w-25 d-inline">
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#addDriver" style='margin-bottom: 18px'>
            Add Driver
        </button>
    </div>
    {% if drivers %}
        <table class="table table-striped table-light table-hover">
            <thead>
                <tr>
                    <th class="align-middle">ID</th>
                    <th class="align-middle">Login</th>
                    <th class="align-middle">Password</th>
                    <th class="align-middle">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for driver in drivers %}
                        <tr>
                            <td class="align-middle">{{ driver.driver_id }}</td>
                            <td class="align-middle">{{ driver.login }}</td>
                            <td class="align-middle">{{ driver.password }}</td>
                            <td class="align-middle" style="width: 10%">
                                <button class="btn btn-primary edit-driver-btn" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#editinfoModal"
                                        data-primary-id="{{ driver.pk }}"
                                        data-driver-id="{{ driver.driver_id }}"
                                        data-login="{{ driver.login }}"
                                        data-password="{{ driver.password }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                    </svg>
                                </button>
                                <form class="delete-driver-form" action="{% url 'delete_driver' driver.pk %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="integration_id" value="{{ integration.pk }}">
                                    <input type="hidden" name="driver_id" value="{{ driver.driver_id }}">
                                    <input type="hidden" name="driver_login" value="{{ driver.login }}">
                                    <button type="submit" class="btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var editButtons = document.querySelectorAll('.edit-driver-btn');
        var primaryIdInput = document.getElementById('edit_primary_id');
        var driverIdInput = document.getElementById('edit_driver_id');
        var loginInput = document.getElementById('edit_driver_login');
        var passwordInput = document.getElementById('edit_driver_password');

        editButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var primaryId = button.getAttribute('data-primary-id');
                var driverId = button.getAttribute('data-driver-id');
                var login = button.getAttribute('data-login');
                var password = button.getAttribute('data-password');

                primaryIdInput.value = primaryId;
                driverIdInput.value = driverId;
                loginInput.value = login;
                passwordInput.value = password;
            });
        });
    });
</script>

{% endblock %}