{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow-lg p-4">
        <div class="card-body">
          <h1 class="text-center mb-4">Generate Report</h1>
          <form action="{% url 'all_reports' %}" method="POST">
          {% csrf_token %}
            <div class="form-group mb-4">
              <label for="date_from">Date From:</label>
              <input type="date" class="form-control" id="date_from" name="date_from">
            </div>
            <div class="form-group mb-4">
              <label for="date_to">Date To:</label>
              <input type="date" class="form-control" id="date_to" name="date_to">
            </div>
            <div class="form-group mb-4">
              <label for="type">Type:</label>
              <select class="form-select" id="type" name="type">
                <option value="">All</option>
                <option value="Integration">Integration</option>
                <option value="Driver">Driver</option>
                <option value="Source">Source</option>
              </select>
            </div>
            <div class="form-group mb-4">
              <label for="operation" class="form-label">Operation:</label>
              <select class="form-select" id="operation" name="operation">
                  <option value="" >All</option>
                  <option value="Added">Add</option>
                  <option value="Edited">Edit</option>
                  <option value="Deleted">Delete</option>
                  <option value="Activated">Activate</option>
                  <option value="Deactivated">Deactivate</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Generate Report</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}