{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mb-2 bg-link-light text-black">
  <h1> REPORTS </h1>
</div>
<div class="mt-4 mb-4">
    <input type="text" class="form-control" placeholder="Search">
</div>
<div class="mb-2 bg-link-light text-white">
    <table class="table table-striped table-light table-hover">
        <thead>
          <tr>
            <th scope="col" width='4%' style="text-align: center;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </th>
            <th scope="col">App</th>
            <th scope="col">Event</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width='4%' style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>15-04-2024</td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>TruckApp</td>
            <td>Lost data</td>
            <td>08-04-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>RampGo</td>
            <td>Lost data</td>
            <td>01-04-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>RampGo</td>
            <td>Lost data</td>
            <td>24-03-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>GoShare</td>
            <td>Lost data</td>
            <td>17-03-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>10-03-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>TruckIt</td>
            <td>Lost data</td>
            <td>03-03-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>25-02-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>18-02-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>TruckApp</td>
            <td>Lost data</td>
            <td>11-02-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>RampGo</td>
            <td>Lost data</td>
            <td>04-02-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>28-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>TruckIt</td>
            <td>Lost data</td>
            <td>21-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>14-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>TruckIt</td>
            <td>Lost data</td>
            <td>07-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>14-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>TruckIt</td>
            <td>Lost data</td>
            <td>07-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>14-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>TruckIt</td>
            <td>Lost data</td>
            <td>07-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>Amazon</td>
            <td>Lost data</td>
            <td>14-01-2024</td>
          </tr><tr>
            <td style="text-align: center;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label> 
            </td>
            <td>TruckIt</td>
            <td>Lost data</td>
            <td>07-01-2024</td>
        </tbody>
      </table>
</div>

{% endblock %}